<h2 class="text-center">{{ title }}</h2>
<div class=" d-flex justify-content-center">
  <form [formGroup]="authorizationForm" (ngSubmit)="submitAuthorization()" >
    <div class="m-3">
      <input
        class="form-control"
      formControlName="login"
      type="text"
      id="typeName"
      placeholder="login"
        [(ngModel)]="login"
      >
      <p class="text-danger" *ngIf="this.authorizationForm.get('login')?.invalid && this.authorizationForm.get('login')?.touched">Name is required</p>
    </div>
    <div class="m-3">
      <input
        class="form-control"
        formControlName="password"
        type="password"
        id="typePassword"
        placeholder="password"
        [(ngModel)]="password"
      >
      <p class="text-danger" *ngIf="this.authorizationForm.get('password')?.invalid && this.authorizationForm.get('password')?.touched">Password is required</p>
    </div>
    <div class="d-flex justify-content-center">
      <button (click)="buttonEnter()" [disabled]="authorizationForm.invalid"  class="btn rounded-3 bg-danger w-50 text-white fw-bold">login</button>
    </div>
  </form>
</div>

