<div class="container-fluid">
  <div class="row flex-column">
    <div class="col-12">

      <div *ngIf="userInfo">
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
          <button (click)="userInfo=''" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          <h4 class="alert-heading">Информация о карте</h4>
          <p>Информация получена запросом к API.</p>
          <hr>
          <p class="mb-0">
            <code>{{userInfo}}</code>
          </p>
        </div>
      </div>

      <div *ngIf="token && apiKey" class="table-responsive">
        <form [formGroup]="authorizationForm" (ngSubmit)="submitAuthorization()">
          <table class="table table-dark table-hover">
            <thead>
              <tr class="bg-dark">
                <th><input formControlName="user_id" class="form-control" /></th>
                <th><input formControlName="template" class="form-control" /></th>
                <th><input formControlName="fio" class="form-control" name="fio" /></th>
                <th><input formControlName="first_name" class="form-control" name="first_name" /></th>
                <th><input formControlName="last_name" class="form-control" name="last_name" /></th>
                <th><input formControlName="pat_name" class="form-control" name="pat_name" /></th>
                <th><input formControlName="phone" class="form-control" name="phone" /></th>
                <th><input formControlName="email" class="form-control" name="email" /></th>
                <th><input formControlName="birthday" class="form-control" name="birthday" /></th>
                <th><input formControlName="loyalty_level" class="form-control" name="loyalty_level" /></th>
                <th><input formControlName="barcode" class="form-control" name="barcode" /></th>
                <th></th>
              </tr>
              <tr>
                <th>user_id</th>
                <th>template</th>
                <th>fio</th>
                <th>first_name</th>
                <th>last_name</th>
                <th>pat_name</th>
                <th>phone</th>
                <th>email</th>
                <th>birthday</th>
                <th>loyalty_level</th>
                <th>barcode</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of users; let i=index">
                <td>{{data.user_id}}</td>
                <td>{{data.template}}</td>
                <td>{{data.fio}}</td>
                <td>{{data.first_name}}</td>
                <td>{{data.last_name}}</td>
                <td>{{data.pat_name}}</td>
                <td>{{data.phone}}</td>
                <td>{{data.email}}</td>
                <td>{{data.birthday}}</td>
                <td>{{data.loyalty_level}}</td>
                <td>{{data.barcode}}</td>
                <td>
                  <button (click)="getCardInfo(data.barcode)"  class="btn btn-outline-info">
                    <bi name="People" style="width: 45px; height: 45px"></bi>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="8">
                <nav>
                  <ul class="pagination pagination-sm">
                    <li class="page-item active" aria-current="page">
                      <span class="page-link">1</span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                  </ul>
                </nav>
              </td>
              <td colspan="4"><button class="btn w-100 btn-primary" type="submit">Поиск</button></td>
              </tr>
            </tfoot>
          </table>
        </form>
      </div>
      <div *ngIf="!token || !apiKey">
        <div class="alert alert-danger" role="alert">
          Вы не авторизованы!
        </div>
      </div>
    </div>
  </div>
</div>
